@import 'variables.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Proxima Nova', Helvetica, sans-serif;
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

::placeholder {
  font-family: 'Proxima Nova', sans-serif;
  color: $gray-400;
}